RewriteEngine on
RewriteRule ^login/([A-Za-z0-9]+)$ login.php?number=$1
RewriteRule ^login login.php
RewriteRule ^search search.php
RewriteRule ^([A-Za-z0-9]+)$ index.php?argument=$1
RewriteRule ^([^/.]+)/?$ $1.php
